<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/cart.css')}}">
    <title>LLN Resto</title>
</head>
<body>
<h1>LLN Resto</h1>
<nav>
    <ul>
        <a href="{{ url_for('homeCustomer') }}"><li>Home</li></a>
        <a href="{{ url_for('menuCustomer') }}"><li>Menu</li></a>
        <a href="{{ url_for('cart') }}"><li>Cart</li></a>
        <a href="{{ url_for('orderHistory') }}"><li>Order History</li></a>
    </ul>
</nav>

<section class="cart"> 
    <div class="cartpage">
    <table>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
        <tr> 
            <td>
            <div class="orderinfo">
                <div>
                    <p>Pizza</p>
                    <a href ="">Remove</a>
                </div>
            <div>
            </td>
            <td><input type="number" value="1"></td>
            <td>$12.99</td>
        </tr>
        <tr> 
            <td>
            <div class="orderinfo">
                <div>
                    <p>Chicken Alfredo</p>
                    <a href ="">Remove</a>
                </div>
            <div>
            </td>
            <td><input type="number" value="1"></td>
            <td>$11.99</td>
        </tr>
    </table>
    <div class = "totalprice">
        <table>
            <tr>
                <td>Subtotal</td>
                <td>$24.98</td>
            </tr>
            <tr>
                <td>Tax</td>
                <td>$2.12</td>
            </tr>
            <tr>
                <td>Total</td>
                <td>$27.10</td>
            </tr>
            <tr>
                <td><a href="/orderHistory" type="submit" name="place_order" value="Place Order">Place Order</a></td>
            </tr>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</section>
</body>
</html>