<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fake Restaurant Name</title>
  </head>
  <body>
    <div class="sidebar">
        <a href="#">Homepage</a>
        <a href="#">Login</a>
        <a href="#">Menu</a>
        <a href="#">Ordering</a>
        <a href="#">Management</a>
    </div>
    <div class="main">
        <h1>Welcome to Fake Restaurant that Compiles</h1>
    </div>
  </body>
</html>