<!DOCTYPE html>
<html>
<head>
    <title>LLN Resto</title>
    <link = rel="stylesheet" type ="text/css" href="login.css">
</head>
<body>

<h1>LLN Resto</h1>
<nav>
    <ul>
        <a href="#"><li>Home</li></a>
        <a href="#"><li>Menu</li></a>
        <a href="#"><li>Order</li></a>
        <a href="#"><li>Login</li></a>
    </ul>
</nav>

<section class="login">
    <div class="background">
    <img src="home2.jpg" height="700px" width="700px">
    </div>
    <div class="loginbox">
    <img src="adminicon.png" class="avatar">
        <h2>Login Here</h2>
        <form>
            <p>Username</p>
            <input type="text" name="" placeholder="Enter Username">
            <p>Password</p>
            <input type="password" name="" placeholder="Enter Password">
            <input type="submit" name="" value="Login"><br>
            <!--
            <a href="#">Lost your password?</a><br>
            <a href="#">Don't have an account?</a><br>
            -->
    </div>


</section>

</body>
</html>