<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/login.css')}}">
    <title>LLN Resto</title>
</head>
<body>
<h1>LLN Resto</h1>
<nav>
    <ul>
        <a href="{{ url_for('login')}}"><li>Login</li></a>
    </ul>
</nav>

<section class="login">
    <div class="background">
    <image src="{{url_for('static', filename='images/home2.jpg')}}">
    </div>
    <div class="avatar">
        <image src="{{url_for('static', filename='images/adminicon.png')}}" height ="80" width "80">
    </div>
    <div class="loginbox">
        <div class="msg">{{ msg }}</div>
        <h2>Login Here</h2>
        <form action="{{ url_for('login')}}" method="POST" autocomplete="off">
            <p>Username</p>
            <input type="text" name="username" placeholder="Enter Username" id="username"/>
            <p>Password</p>
            <input type="password" name="password" placeholder="Enter Password" id="password"/><br>
            <p>Login as:</p>
            <label for="loginAdmin">Admin<span style ="margin-left:1.6em"></span><input type="radio" class="loginAdmin" name="login" value="Admin"/></label>
            <label for="loginCustomer">Customer<input type="radio" class="loginCustomer" name="login" value="Customer"/></label>
            <input type="submit" class="btn" value="Login"/><br>
            <!--
            <a href="#">Lost your password?</a><br>
            <a href="#">Don't have an account?</a><br>
            -->
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</section>

</body>
</html>