<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/manageCustomers.css')}}">
    <title>LLN Resto</title>
</head>
<body>

<h1>LLN Resto</h1>
<nav>
    <ul>
        <a href="{{ url_for('homeAdmin') }}"><li>Home</li></a>
        <a href="{{ url_for('menuAdmin') }}"><li>Menu</li></a>
        <a href="{{ url_for('manageCustomers')}}"><li>Manage Customers</li></a>
    </ul>
</nav>

</section>

<div class="manageCustomers">
    <div class="table">
    
        <h2 style="padding: 2px;"class="page-title">Manage Customers</h2>

        <h4 style="font-weight: 10; padding: 2px; margin-bottom: 5px;" class="message">Click Add Customer, Modify, or Delete below to make changes to the Customers Table.</h4>
        
        <a href="/addCustomerForm" class="btn" style="; margin: 5px;" type="submit" value="Add Entry">Add Customer</a> 
        
        <table>
            <tr>
                <th></th>
                <th></th> 
                <th>First Name</th>
                <th>Last Name</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zip Code</th>
                <th>Phone Number</th>
                <th>Email Address</th>
            </tr>

            {% for item in data %}
            <tr>
                <td><a href="/edit/{{item[0]}}" class="btn" style="padding: 3px;" type="submit" value="Modify" name="modify">Modify</a></td>
                <td><a href="/delete/{{item[0]}}" class="btn" style="padding: 3px;" type="submit" value="Delete" name="delete" >Delete</a></td>
                <td>{{item[1]}}</td>
                <td>{{item[2]}}</td>
                <td>{{item[3]}}</td>
                <td>{{item[4]}}</td>
                <td>{{item[5]}}</td>
                <td>{{item[6]}}</td>
                <td>{{item[7]}}</td>
                <td>{{item[8]}}</td>
            </tr>
            {% endfor %}    
          </table>
          <br>
          <input class= "btn btn-default" type="submit" value="Back"> 
          
    </div>
</body>
</html>