<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/menu.css')}}">
    <title>LLN Resto</title>
</head>
<body>
<h1>LLN Resto</h1>
<nav>
    <ul>
        <a href="{{ url_for('homeCustomer') }}"><li>Home</li></a>
        <a href="{{ url_for('menuCustomer') }}"><li>Menu</li></a>
        <a href="{{ url_for('cart') }}"><li>Cart</li></a>
        <a href="{{ url_for('orderHistory') }}"><li>Order History</li></a>
    </ul>
</nav>

<section class="items">
    <div class="item">
        <image src="{{url_for('static', filename='images/pizza1.jpg')}}" height="300" width="350">
        <h4>Pizza</h4>
            <h3>15.00</h3>
        <a href="{{ url_for('b', my_var='Pizza') }}" class= "btn btn-default" type="submit" value="Order">Order</a>
    </div>
    <div class="item">
        <image src="{{url_for('static', filename='images/pizza2.jpg')}}" height="300" width="350">
        <h4>Veggie Pizza</h4>
            <h3>12.00</h3>
        <a href="{{ url_for('b', my_var='Veggie Pizza') }}" class= "btn btn-default" type="submit" value="Order">Order</a>
    </div>
    <div class="item">
        <image src="{{url_for('static', filename='images/burger1.jpg')}}" height="300" width="350">
        <h4>Burger</h4>
            <h3>10.50</h3>
        <a href="/cart" class= "btn btn-default" type="submit" value="Order">Order</a>
    </div>
    <div class="item">
        <image src="{{url_for('static', filename='images/burger2.jpg')}}" height="300" width="350">
        <h4>Chicken Burger</h4>
            <h3>8.50</h3>
        <a href="/cart" class= "btn btn-default" type="submit" value="Order">Order</a>
    </div>
    <div class="item">
        <image src="{{url_for('static', filename='images/pasta1.jpg')}}" height="300" width="350">
        <h4>Spaghetti</h4>
            <h3>9.50</h3>
        <a href="/cart" class= "btn btn-default" type="submit" value="Order">Order</a>
    </div>
    <div class="item">
        <image src="{{url_for('static', filename='images/pasta2.jpg')}}" height="300" width="350">
        <h4>Chicken Alfredo</h4>
            <h3>14.00</h3>
            <a href="/cart" class= "btn btn-default" type="submit" value="Order">Order</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</section>

</body>
</html>