<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/order.css')}}">
    <title>LLN Resto</title>
</head>
<body>
<h1>LLN Resto</h1>
<nav>
    <ul>
        <a href="{{ url_for('home') }}"><li>Home</li></a>
        <a href="{{ url_for('menu') }}"><li>Menu</li></a>
        <a href="{{ url_for('cart') }}"><li>Cart</li></a>
        <a href="{{ url_for('login')}}"><li>Login</li></a>
    </ul>
</nav>
<section class="order"> 
    <div class="orderpage">
    <table>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
        <tr> 
            <td>
            <div class="orderinfo">
                <img src="pizza1.jpg" height="200" width="250">
                <div>
                    <p>Pizza</r><br>
                    <a href ="">Remove</a>
                </div>
            <div>
            </td>
            <td><input type="number" value="1"></td>
            <td>$12.99</td>
            <!--
            <td>{{item[1]}}</td>
            <td>{{item[2]}}</td>
            <td>{{item[3]}}</td>
            <td>{{item[4]}}</td>
            -->
        </tr>
        <tr> 
            <td>
            <div class="orderinfo">
                <img src="pasta2.jpg" height="200" width="250">
                <div>
                    <p>Chicken Alfredo</r><br>
                    <a href ="">Remove</a>
                </div>
            <div>
            </td>
            <td><input type="number" value="1"></td>
            <td>$11.99</td>
            <!--
            <td>{{item[1]}}</td>
            <td>{{item[2]}}</td>
            <td>{{item[3]}}</td>
            <td>{{item[4]}}</td>
            -->
        </tr>
    </table>
    <div class = "totalprice">
        <table>
            <tr>
                <td>Subtotal</td>
                <td>$24.98</td>

            </tr>
            <tr>
                <td>Tax</td>
                <td>$2.12</td>
            </tr>
            <tr>
                <td>Total</td>
                <td>$27.10</td>
            </tr>
            <tr>
            <td><input type="submit" name="" value="Place Order"></td>
            </tr>
    </div>
</section>
</body>
</html>