<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/orderHistory.css')}}">
    <title>LLN Resto</title>
</head>
<body>

<h1>LLN Resto</h1>
<nav>
    <ul>
        <a href="{{ url_for('homeCustomer') }}"><li>Home</li></a>
        <a href="{{ url_for('menuCustomer') }}"><li>Menu</li></a>
        <a href="{{ url_for('cart') }}"><li>Cart</li></a>
        <a href="{{ url_for('orderHistory') }}"><li>Order History</li></a>
    </ul>
</nav>

</section>

<div class="orderHistory">
    <div class="table">
        <br>
        <h2 style="padding: 10px; "class="page-title">Order History</h2>

        <!--<h4 style="font-weight: 10; padding: 2px; margin-bottom: 5px;" class="message">Click Add Customer, Modify, or Delete below to make changes to the Customers Table.</h4>-
        <a href="/addCustomerForm" class="btn" style="; margin: 5px;" type="submit" value="Add Entry">Add Customer</a> 
        -->
        <div class = "customerInfo">
        <table style ="padding: 10px">
            <tr>
                <td>First Name</td>
                <td>{{ fname }}</td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td>{{ lname }}</td>
            </tr>
        </table>
        </div>
        
        <div class ="orderHistory">
        <table style ="padding: 10px">
            <tr>
                <th>Order ID</th>
                <th>Food</th>
                <th>Quantity</th>
                <th>Ordered On</th>
                <th>Total</th>
            </tr>

            {% for item in data %}
            <tr style ="padding: 10px">
                <!--
                <td><a href="/edit/{{item[0]}}" class="btn" style="padding: 3px;" type="submit" value="Modify" name="modify">Modify</a></td>
                <td><a href="/delete/{{item[0]}}" class="btn" style="padding: 3px;" type="submit" value="Delete" name="delete" >Delete</a></td>
                -->
                <td>{{item[0]}}</td>
                <td>{{item[1]}}</td>
                <td>{{item[2]}}</td>
                <td>{{item[3]}}</td>
                <td>${{item[4]}}</td>
            </tr>
            {% endfor %}
        </table>

        </div>

    </body>
</html>